<p id="notice"><%= notice %></p>
<div class="pageheader">
     <h2>Show Customer</h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><%= link_to "Home", admin_dashboard_index_path %></li>
          <li><%= link_to "Customer", admin_customers_path %></li>
          <li class="active">Show Customer</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
  	<div class="panel panel-default">
    	<div class="panel-body">
      
      		<div class="row">
        		<div class="col-md-12">
					<p>
					  <strong>Customer Code:</strong>
					  <%= @admin_customer.customerCode %>
					</p>

					<p>
					  <strong>Customer Name:</strong>
					  <%= @admin_customer.customerName %>
					</p>

					<p>
					  <strong>Customer Phone:</strong>
					  <%= @admin_customer.customerPhone %>
					</p>

					<%= link_to 'Edit', edit_admin_customer_path(@admin_customer), class: 'btn btn-primary' %> 
					<%= link_to 'Back', admin_customers_path, class: 'btn btn-danger' %>
				</div>
			</div>
		</div>
	</div>
</div>
